<h1> add your book >> </h1>
<%= form_for @book, url: {action: "create"} do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :original_language %>
    <%= f.date_field :print_date %>
    <%= f.submit "save" %>
<% end %>